@using DeckSorter.Models.ViewModels
@model List<DeckShortViewModel>
@{
	ViewData["Title"] = "Decks List";
	int rows = (Model.Count / 6);
}
<link rel="stylesheet" href="~/css/deckslist.css" />
<h4>Колод доступно: @Model.Count</h4>
<div class="decksregion">
	@for (int i = 0; i < Model.Count; i++)
	{
			//Форимруем ссылку на колоду
			string deckPath = "/decks/" + Model[i].Id;
			<a href=@deckPath>
				<div class="deckblock">
					<div class="deckimagediv">
						<img src="~/cards/preview.png" alt="">
					</div>
					<span class="name">@Model[i].Name</span>
					<span class="size">@Model[i].Size</span>
				</div>
			</a>
	}
</div>










@*<div class="decksregion">
	@for (int i = 0; i <= rows; i++)
	{
		<div class="decksrow">
			@for (int j = 0; j <= 4; j++)
			{
				int index = i * 5 + j;
				if (index >= Model.Count) break;
				string deckPath = "/decks/" + Model[index].Id;
				<a href=@deckPath>
					<div class="deckblock">
						<div class="deckimagediv">
							<img src="~/cards/preview.png" alt="">
						</div>
						<span class="name">@Model[index].Name</span>
						<span class="size">@Model[index].Size</span>
					</div>
				</a>
			}
		</div>
	}
</div>*@